@use "variables" as v;
.button {
    background-color: v.$base-color-one;
    border: none;
    color: white;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: v.$font-size-1;
    &:hover {
        background-color: v.$base-color-two;
    }
}