@use "variables" as v;
.select-menu {
    position: relative;
    select {
        font-size: v.$font-size-1;
        padding: .5em 2em .5em 1em;
        background-color: v.$base-color-one;
        color: white;
        border: 0;
        &:hover {
            background-color: mix(v.$base-color-one, v.$base-color-two, 40%);
        }
    }
    .select-arrow {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background-color: v.$base-color-two;
        height: 100%;
        width: 2rem;
        pointer-events: none;
        &::before,
        &::after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::before {
            top: 40%;
            border-left: v.$select-arrow-size solid transparent;
            border-right: v.$select-arrow-size solid transparent;
            border-bottom: v.$select-arrow-size solid white;
        }
        &::after {
            top: 60%;
            border-left: v.$select-arrow-size solid transparent;
            border-right: v.$select-arrow-size solid transparent;
            border-top: v.$select-arrow-size solid white;
        }
    }
}