@use "variables" as v;
#sortingContainer {
    width: 1000px;
    height: 563px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .column {
        box-sizing: border-box;
        border: 1px solid v.$accent;
        background-color: v.$base-color-one;
    }
}